In [279]:
import pandas as pd
from fuzzywuzzy import fuzz

In [280]:
stats = 'pokemon_stats/pokemon_stats.csv'
df = pd.read_csv(stats)

In [281]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [282]:
df.shape

(886, 13)

In [283]:
df = df[df['#']<722]
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [284]:
df['#'] = df['#'].astype(str)

In [285]:
df = df.set_index('Name')
for name in df.index:
    if (fuzz.partial_ratio(name, 'Mega') == 100) & (name != 'Meganium'):
        df.loc[name,'#'] = df.loc[name,'#'] + '-mega'

In [286]:
df.head(10)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3-mega,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
CharizardMega Charizard X,6-mega,Fire,Dragon,634,78,130,111,130,85,100,1,False
CharizardMega Charizard Y,6-mega,Fire,Flying,634,78,104,78,159,115,100,1,False
Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False

In [287]:
df = df.reset_index()
df.head()

,Name,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,3-mega,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [288]:
df.loc[7,'#'] = df.loc[7,'#'] + '-x'
df.loc[7,'#']

'6-mega-x'

In [289]:
df.loc[8,'#'] = df.loc[8,'#'] + '-y'
df.loc[8,'#']

'6-mega-y'

In [290]:
df.head(10)

,Name,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,3-mega,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,6-mega-x,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,6-mega-y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False

In [291]:
df['#'].value_counts().head()

479    6
386    4
710    4
711    4
413    3
Name: #, dtype: int64

In [292]:
df.loc[163,'#'] = df.loc[163,'#'] + '-x'
df.loc[163,'#']

'150-mega-x'

In [293]:
df.loc[164,'#'] = df.loc[164,'#'] + '-y'
df.loc[164,'#']

'150-mega-y'

In [294]:
df.set_index('#').loc['479',:]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False
479,RotomWash Rotom,Electric,Water,520,50,65,107,105,107,86,4,False
479,RotomFrost Rotom,Electric,Ice,520,50,65,107,105,107,86,4,False
479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
479,RotomMow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,False

In [295]:
df.loc[531,:]

Name             Rotom
#                  479
Type 1        Electric
Type 2           Ghost
Total              440
HP                  50
Attack              50
Defense             77
Sp. Atk             95
Sp. Def             77
Speed               91
Generation           4
Legendary        False
Name: 531, dtype: object

In [296]:
df.loc[532,'#'] = df.loc[532,'#'] + '-heat'

In [297]:
df.loc[533,'#'] = df.loc[533,'#'] + '-wash'

In [298]:
df.loc[534,'#'] = df.loc[534,'#'] + '-frost'

In [299]:
df.loc[535,'#'] = df.loc[535,'#'] + '-fan'

In [300]:
df.loc[536,'#'] = df.loc[536,'#'] + '-mow'

In [301]:
df['#'].value_counts().head()

386    4
710    4
711    4
413    3
646    3
Name: #, dtype: int64

In [302]:
df.loc[780,:]

Name          PumpkabooAverage Size
#                               710
Type 1                        Ghost
Type 2                        Grass
Total                           335
HP                               49
Attack                           66
Defense                          70
Sp. Atk                          44
Sp. Def                          55
Speed                            51
Generation                        6
Legendary                     False
Name: 780, dtype: object

In [303]:
df.loc[780,'#'] = df.loc[780,'#'] + '-Avg'

In [304]:
df.loc[781,'#'] = df.loc[781,'#'] + '-Sm'

In [305]:
df.loc[782,'#'] = df.loc[782,'#'] + '-Lrg'

In [306]:
df.loc[783,'#'] = df.loc[783,'#'] + '-Supr'

In [307]:
df['#'].value_counts().head()

711    4
386    4
646    3
413    3
642    2
Name: #, dtype: int64

In [308]:
df.loc[784,'#'] = df.loc[784,'#'] + '-Avg'

In [309]:
df.loc[785,'#'] = df.loc[785,'#'] + '-Sm'

In [310]:
df.loc[786,'#'] = df.loc[786,'#'] + '-Lrg'

In [311]:
df.loc[787,'#'] = df.loc[787,'#'] + '-Supr'

In [312]:
df['#'].value_counts().head()

386    4
413    3
646    3
487    2
720    2
Name: #, dtype: int64

In [313]:
df.loc[428,'#'] = df.loc[428,'#'] + '-normal'

In [314]:
df.loc[429,'#'] = df.loc[429,'#'] + '-attack'

In [315]:
df.loc[430,'#'] = df.loc[430,'#'] + '-defense'

In [316]:
df.loc[431,'#'] = df.loc[431,'#'] + '-speed'

In [317]:
df['#'].value_counts().head()

413    3
646    3
678    2
648    2
492    2
Name: #, dtype: int64

In [318]:
df.loc[711,'#'] = df.loc[711,'#'] + '-black'

In [319]:
df.loc[712,'#'] = df.loc[712,'#'] + '-white'

In [320]:
df['#'].value_counts().head()

413    3
678    2
648    2
383    2
642    2
Name: #, dtype: int64

In [321]:
df.loc[458,'#'] = df.loc[458,'#'] + '-plant'

In [322]:
df.loc[459,'#'] = df.loc[459,'#'] + '-sandy'

In [323]:
df.loc[460,'#'] = df.loc[460,'#'] + '-trash'

In [324]:
df['#'].value_counts().head()

383    2
645    2
382    2
555    2
678    2
Name: #, dtype: int64

In [325]:
df.loc[615,'#'] = df.loc[615,'#'] + '-standard'

In [326]:
df.loc[616,'#'] = df.loc[616,'#'] + '-zen'

In [327]:
df['#'].value_counts().head()

681    2
487    2
383    2
642    2
641    2
Name: #, dtype: int64

In [328]:
df.loc[750,'#'] = df.loc[750,'#'] + '-blade'

In [329]:
df.loc[751,'#'] = df.loc[751,'#'] + '-shield'

In [330]:
df['#'].value_counts().head()

647    2
492    2
382    2
487    2
642    2
Name: #, dtype: int64

In [331]:
df.loc[708,'#'] = df.loc[708,'#'] + '-incarnate'

In [332]:
df.loc[709,'#'] = df.loc[709,'#'] + '-therion'

In [333]:
df['#'].value_counts().head()

647    2
492    2
382    2
487    2
720    2
Name: #, dtype: int64

In [334]:
df.loc[422,'#'] = df.loc[422,'#'] + '-primal'

In [335]:
df.loc[424,'#'] = df.loc[424,'#'] + '-primal'

In [336]:
df['#'].value_counts().head()

647    2
641    2
487    2
642    2
648    2
Name: #, dtype: int64

In [337]:
df.loc[797,'#'] = df.loc[797,'#'] + '-confined'

In [338]:
df.loc[798,'#'] = df.loc[798,'#'] + '-unbound'

In [339]:
df.loc[702,'#'] = df.loc[702,'#'] + '-incarnate'

In [340]:
df.loc[704,'#'] = df.loc[704,'#'] + '-incarnate'

In [341]:
df.loc[703,'#'] = df.loc[703,'#'] + '-therion'

In [342]:
df.loc[705,'#'] = df.loc[705,'#'] + '-therion'

In [343]:
df['#'].value_counts().head()

647    2
487    2
648    2
492    2
678    2
Name: #, dtype: int64

In [344]:
df.loc[713,'#'] = df.loc[713,'#'] + '-ordinary'

In [345]:
df.loc[714,'#'] = df.loc[714,'#'] + '-resolute'

In [346]:
df['#'].value_counts().head()

487    2
492    2
648    2
678    2
254    1
Name: #, dtype: int64

In [347]:
df.loc[550,'#'] = df.loc[550,'#'] + '-land'

In [348]:
df.loc[551,'#'] = df.loc[551,'#'] + '-sky'

In [349]:
df.loc[544,'#'] = df.loc[544,'#'] + '-altered'

In [350]:
df.loc[545,'#'] = df.loc[545,'#'] + '-origin'

In [351]:
df['#'].value_counts().head()

678    2
648    2
254    1
404    1
530    1
Name: #, dtype: int64

In [352]:
df.loc[747,'#'] = df.loc[747,'#'] + '-female'

In [353]:
df.loc[746,'#'] = df.loc[746,'#'] + '-male'

In [354]:
df.loc[716,'#'] = df.loc[716,'#'] + '-pirouette'

In [355]:
df['#'].value_counts().head()

254         1
404         1
208-mega    1
530         1
538         1
Name: #, dtype: int64

In [356]:
df

,Name,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,3-mega,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,6-mega-x,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,6-mega-y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False
10,Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False
11,Blastoise,9,Water,NaN,530,79,83,100,85,105,78,1,False
12,BlastoiseMega Blastoise,9-mega,Water,NaN,630,79,103,120,135,115,78,1,False
13,Caterpie,10,Bug,NaN,195,45,30,35,20,20,45,1,False
14,Metapod,11,Bug,NaN,205,50,20,55,25,25,30,1,False
15,Butterfree,12,Bug,Flying,395,60,45,50,90,80,70,1,False
16,Weedle,13,Bug,Poison,195,40,35,30,20,20,50,1,False
17,Kakuna,14,Bug,Poison,205,45,25,50,25,25,35,1,False
18,Beedrill,15,Bug,Poison,395,65,90,40,45,80,75,1,False
19,BeedrillMega Beedrill,15-mega,Bug,Poison,495,65,150,40,15,80,145,1,False
20,Pidgey,16,Normal,Flying,251,40,45,40,35,35,56,1,False
21,Pidgeotto,17,Normal,Flying,349,63,60,55,50,50,71,1,False
22,Pidgeot,18,Normal,Flying,479,83,80,75,70,70,101,1,False
23,PidgeotMega Pidgeot,18-mega,Normal,Flying,579,83,80,80,135,80,121,1,False
24,Rattata,19,Normal,NaN,253,30,56,35,25,35,72,1,False
25,Raticate,20,Normal,NaN,413,55,81,60,50,70,97,1,False
26,Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False
27,Fearow,22,Normal,Flying,442,65,90,65,61,61,100,1,False
28,Ekans,23,Poison,NaN,288,35,60,44,40,54,55,1,False
29,Arbok,24,Poison,NaN,438,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,Sylveon,700,Fairy,NaN,525,95,65,65,110,130,60,6,False
771,Hawlucha,701,Fighting,Flying,500,78,92,75,74,63,118,6,False
772,Dedenne,702,Electric,Fairy,431,67,58,57,81,67,101,6,False
773,Carbink,703,Rock,Fairy,500,50,50,150,50,150,50,6,False
774,Goomy,704,Dragon,NaN,300,45,50,35,55,75,40,6,False
775,Sliggoo,705,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,Goodra,706,Dragon,NaN,600,90,100,70,110,150,80,6,False
777,Klefki,707,Steel,Fairy,470,57,80,91,80,87,75,6,False
778,Phantump,708,Ghost,Grass,309,43,70,48,50,60,38,6,False
779,Trevenant,709,Ghost,Grass,474,85,110,76,65,82,56,6,False
780,PumpkabooAverage Size,710-Avg,Ghost,Grass,335,49,66,70,44,55,51,6,False
781,PumpkabooSmall Size,710-Sm,Ghost,Grass,335,44,66,70,44,55,56,6,False
782,PumpkabooLarge Size,710-Lrg,Ghost,Grass,335,54,66,70,44,55,46,6,False
783,PumpkabooSuper Size,710-Supr,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,GourgeistAverage Size,711-Avg,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,GourgeistSmall Size,711-Sm,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,GourgeistLarge Size,711-Lrg,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,GourgeistSuper Size,711-Supr,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,Bergmite,712,Ice,NaN,304,55,69,85,32,35,28,6,False
789,Avalugg,713,Ice,NaN,514,95,117,184,44,46,28,6,False
790,Noibat,714,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,Noivern,715,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,Xerneas,716,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,Yveltal,717,Dark,Flying,680,126,131,95,131,98,99,6,True
794,Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,719-mega,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,720-confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,720-unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True